@font-face {
    font-family: 나눔고딕코딩;
    src: url("../font/nanum/coding/NanumGothicCoding.ttf");
}

@font-face {
    font-family: 나눔고딕코딩 Bold;
    src: url("../font/nanum/coding/NanumGothicCoding-Bold.ttf");
}

